extends layout_2

block content
  .noti-container
    h1 Your Notifications!

    if notifications.length
      ul#notification-list
        each notification in notifications
          li(class=notification.read ? 'read' : 'unread')
            p Artist:
              a(href='/patron/artist/' + notification.artist.username)= notification.artist.username
            case notification.type
              when 'new_artwork'
                p.new-artwork 
                  a(href=`/patron/artwork/${notification.referenceId}`) #{notification.message}
              when 'new_workshop'
                p.new-workshop 
                  a(href=`/patron/workshop/${notification.referenceId}`) #{notification.message}
              default
                p= notification.message
    else
      p No notifications at the moment.

    .back-link-container
      if user.accountType === 'artist'
        a.back-link(href='/artist/artist-dashboard') Back to Artist Dashboard
      else
        a.back-link(href='/patron') Back to Patron Page
