extends layout_2

block content
  .noti-container
    h1 Your Notifications!

    if notifications.length
      ul#notification-list
        each notification in notifications
          li(class=notification.read ? 'read' : 'unread')
            p Artist: #{notification.artist.username}
            case notification.type
              when 'new_artwork'
                a(href='/patron/artwork/' + notification.referenceId.toString()) 
                  p.new-artwork New artwork added: #{notification.message}
              when 'new_workshop'
                a(href='/patron/workshop/' + notification.referenceId.toString()) 
                  p.new-workshop New workshop created: #{notification.message}
              default
                p= notification.message
    if user.accountType === 'artist'
      a.back-link(href='/artist/artist-dashboard') Back to Artist Dashboard
    else
      a.back-link(href='/patron') Back to Patron Page
