extends layout_2

block content
  .search-container
    h1 Search Artworks and Artists
    form.search-form(method='get', action='/patron/search-artworks')
      input.search-input(type='text', name='query', placeholder='Search by title, artist, or category', value=query)
      button.search-button(type='submit') Search

    if artworks.length
      .searched-artworks
        ul
          each artwork in artworks
            li
              a(href=`/patron/artwork/${artwork._id}`)= artwork.Title
              |  by #{artwork.Artist}

      if pagination.hasNext
        a(href=`/patron/search-artworks?query=${query}&page=${pagination.next}`) Next
      if pagination.hasPrev
        | &nbsp;&nbsp;&nbsp;
        a(href=`/patron/search-artworks?query=${query}&page=${pagination.prev}`) Previous
      
    else
      p No artworks found for your query right now.

    .search-container
      h2 
      if user.accountType === 'artist'
            a(href='/artist/artist-dashboard') Back to Artist Dashboard
      else
          a(href='/patron') Back to Patron Page